{% extends ('index.html.twig') %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('/static/vendor.css') }}">
    <link rel="stylesheet" href="{{ asset('/static/build.css') }}">
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('static/build.js') }}"></script>
    {{ render(controller(
        'App\\Controller\\MenuController::actionMenu'
    )) }}
    {{ render(controller(
        'App\\Controller\\MenuController::toolbar'
    )) }}
{% endblock %}
{% block body_classes %}{{ UiDataTransmitter.getBodyClasses() }}{% endblock %}
{% block body %}
    {{ render(controller(
        'App\\Controller\\LauncherController::launcher'
    )) }}
    <div id="aplab-admin-content">
        {% block content %}
            <div id="aplab-admin-navbar">
                {% block navbar %}
                    <button id="aplab-admin-open-launcher" title="Open [ctrl]+[alt]+[~]">
                        <i class="fas fa-th"></i>
                    </button>
                    <button id="aplab-admin-open-action-menu">
                        <i class="fas fa-ellipsis-v"></i>
                    </button>
                    <div id="aplab-admin-toolbar-wrapper"></div>
                {% endblock %}
            </div>
            <div id="aplab-admin-workarea">
                {% block workarea %}

                    {% dump routes %}

                {% endblock %}
            </div>
        {% endblock %}
    </div>
{% endblock %}
